/* Container principal */
.noticia-container {
  background: var(--body-bg);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Grid principal */
.noticia-grid {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
  width: 90%;
  max-width: 1300px;
}

/* Coluna Esquerda */
.titulo-noticia {
  font-size: var(--trinta-px);
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--title-news);
}

.subtitulo-noticia {
  font-size: var(--dezesseis-px);
  color: var(--subtitle-news);
  margin-bottom: 1.5rem;
}

.autor-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.autor-nome {
  font-weight: bold;
  font-size: var(--dez-px);
  color: var(--title-news);
}

.redes-sociais i {
  font-size: var(--dez-px);
  color: var(--social-media-icon-color);
}

.imagem-noticia img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 1rem;
}

.texto-da-noticia article {
  color: var(--subtitle-news);
  font-size: var(--dezesseis-px);
  line-height: 1.6;
  padding-top: 2rem;
  text-align: justify;
}

/* Coluna Direita */
.coluna-direita .grid-leia-mais {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.coluna-direita .grid-leia-mais > * {
  width: 100%;
}

.outras-noticias-titulo {
  color: var(--title-news);
  font-size: var(--trinta-px);
  font-weight: bold;
  margin-bottom: 50px;
}

/* Links sociais */
.btn-social {
  text-decoration: none;
  border: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .noticia-container {
    padding: 20px 10px;
  }

  .noticia-grid {
    grid-template-columns: 1fr;
  }

  .coluna-direita .grid-leia-mais {
    align-items: stretch;
  }

  .titulo-noticia,
  .subtitulo-noticia,
  .autor-info,
  .outras-noticias-titulo {
    text-align: center;
  }

  .titulo-noticia {
    font-size: 2rem;
  }

  .subtitulo-noticia {
    font-size: 1.1rem;
  }

  .autor-info {
    flex-direction: column;
  }

  .autor-info img {
    width: 40px;
    height: 40px;
  }

  .texto-da-noticia article {
    font-size: 1.2rem;
  }
}
