@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
}
:root {
  --yellow: #fbb802;
  --blue: #01448a;
  --white: #fff;
  --white2: #f0f0f0;
  --white3: #f9f9f9;
  --dark: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}


body {
  background: var(--white2);
  color: var(--dark);
}
.main_title {
    display: flex;
    max-width: 980px;
    height: 64px;
    margin: 5rem auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
  }

  .layout{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .summary {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 2.5rem;
    max-width: 810px;
    padding: 6.3rem 5rem;
    background-color: var(--white);
    border-radius: 1.3rem;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .summary__h2 {
    color: var(--yellow);
    font-size: 2.4rem;
    font-weight: 700;
  }
  
  .summary__p {
    font-size: 1.6rem;
    font-weight: 300;
  }

.professionals__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 6rem;
    margin-top: 3rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
  
.card__professionals {
    width: 50%;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
  }
  
.card__professionals__photo {
    width: 100%;
    height: 150px;
    background: var(--white);
    object-fit: cover;
    border-radius: 10px;
  }
.professionals__details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 4.5rem;
  }
  
.card__professionals__name {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
.card__professionals__arrow {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
.card__professionals__details {
    display: none;
    margin-top: 10px;
    font-size: 14px;
  }
.yellow-line {
    height: 4px;
    width: 100%;
    background-color: var(--yellow); /* Amarelo (pode trocar por outro tom) */
    margin-top: 1rem;
    border-radius: 2px;
  }