html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--body-bg);
  color: var(--institutional-text-color);
}

/* seção de atividades (conteúdo principal) */

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  height: 64px;
  margin: 5rem auto;
  gap: 10px;
  border-radius: 5px;
  background: var(--secundary-color);
  color: var(--text-white);
  font-size: var(--vinte-px);
  font-weight: 700;
  min-width: 200px;
}
/* layout principal em duas colunas */
.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  max-width: 1080px;
  margin: 2rem auto;
}
.activity {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 3rem;
  min-height: 673px;
  max-width: 810px;
  padding: 6.3rem 4rem;
  background-color: var(--institutional-activity-bg);
  border-radius: 1.3rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.activity__h2 {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 700;
}

.activity__p {
  font-size: var(--dezesseis-px);
  font-weight: 300;
  line-height: 1.7;
}
/* aside */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
  min-height: 673px;
  justify-content: space-between;
}

.news,
.laws {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 580px;
  padding: 2rem 4rem;
  gap: 2rem;
  border-radius: 1.3rem;
  background: var(--institutional-sidebar-bg);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
}

.news__item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: transform 0.3s ease;
}
.news__item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news__item-img {
  flex-shrink: 0;
  width: 60px;
  height: 41.36px;
  border-radius: 17px;
}

.news__item-h4 {
  font-size: var(--dezesseis-px);
  font-weight: 400;
  line-height: 1.5;
}
.news__item-p {
  text-align: center;
  color: var(--institutional-news-p);
  font-weight: 200;
}
.news__item-link,
.laws__item-link {
  text-decoration: none;
  color: var(--institutional-text-color);
}

.title-bar {
  align-self: center;
  width: 100%;
  height: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 9.9rem;
}
.title-bar__decoration {
  width: 3rem;
  height: 0.5rem;
  background-color: #fbb802;
  border-radius: 9.9rem;
}
.laws__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  padding: 2.3rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 17px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  background-color: var(--institutional-sidebar-laws-item);
  transition: transform 0.3s ease;
}

.laws__item:hover,
.news__item:hover {
  transform: scale(1.05);
}

.laws__img {
  color: var(--institutional-sidebar-laws-svg);
  width: 8px;
  height: 14px;
  fill: none;
}
.laws__h3,
.news__h3 {
  font-size: var(--vinte-px);
}
.laws__text {
  font-size: var(--dezesseis-px);
  color: var(--institutional-text-color);
  font-weight: 400;
}
/* Responsividade - Seção Atividades */

@media (max-width: 1141px) {
  .main__title {
    max-width: 1000px;
  }
  .layout {
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .container-title {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .main__title {
    margin: 5rem auto;
  }
  .layout {
    flex-direction: column;
    margin: 2rem;
    align-items: center;
  }
  .sidebar {
    flex-direction: row;
    gap: 3rem;
    min-height: auto;
    max-width: 810px;
    width: 100%;
    align-items: stretch;
  }

  .laws,
  .news {
    max-width: 375px;
  }
  .laws {
    justify-content: start;
  }
  .main__title {
    max-width: 810px;
  }
  .news__item-h4 {
    max-width: 375px;
  }
  .news__item-p {
    align-self: start;
  }
}

@media (max-width: 715px) {
  .sidebar {
    flex-direction: column;
    align-items: center;
  }
  .laws,
  .news {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
  }

  .activity {
    max-width: 600px;
    padding: 6.3rem 2rem;
  }
  .main__title {
    max-width: 600px;
  }
  .news__item-img {
    width: 70px;
    height: 50px;
  }
}

/* Seção da estrutura administrativa */
.structure {
  margin-top: 10rem;
  background: var(--institutional-structure-bg);
  display: flex;
  height: 715px;
  position: relative;
  overflow: hidden;
}

.structure__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--secundary-color);
  width: 40.07vw;

  padding: 0 30px;
  gap: 17px;
  position: relative;
  z-index: 1;
}

.structure__title {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-weight: 800;
}
.structure__text {
  color: var(--text-white);
  width: 25.76vw;
  line-height: 1.2;
  font-size: var(--dezesseis-px);
  font-weight: 350;
}
.structure__link {
  text-decoration: underline;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 350;
}
.structure__arrows {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.structure__cards {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: absolute;
  align-items: center;
  overflow-x: scroll;
  height: auto;
  width: 100vw;
  top: 15%;
  left: 30%;
  z-index: 2;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.structure__card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 310px;
  padding: 2rem;
  overflow-x: auto;
  gap: 3.5rem;
  border-radius: 5.1rem;
  background: var(--institutional-structure-card-bg);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);

  justify-content: center;
}
.container__card-svg {
  background-color: var(--institutional-structure-icon-bg);
  padding: 2rem;
  border-radius: 75px;
  position: relative;
  top: 5rem;
  box-shadow: 0px 5.192px 5.192px 0px rgba(0, 0, 0, 0.25);

  z-index: 3;
}
.structure__card-svg {
  width: 5rem;
  height: 5rem;
  color: var(--institutional-structure-icon);
}
.structure__card-icone {
  width: 20.767px;
  height: 20.767px;
}
.structure__card-element {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.structure__card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.structure__card-title {
  align-self: center;
  color: var(--institutional-text-color);
  font-size: var(--vinte-px);
  font-weight: 500;
}

.structure__card-p {
  font-size: var(--dezoito-px);
}

.structure__button {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.structure__button:hover {
  transform: scale(1.1);
}
/* Responsividade - Seção Estrutura Administrativa */
@media (max-width: 1200px) {
  .structure {
    flex-direction: column;
    height: auto;
  }

  .structure__content {
    width: 100vw;
    padding: 8rem 3rem;
  }
  .structure__arrows {
    gap: 1.5rem;
  }
  .structure__text {
    width: 92vw;
    font-weight: 350;
  }

  .structure__cards {
    position: relative;
    top: auto;
    left: 3%;
    gap: 5rem;
    overflow-y: hidden;
  }
  .structure__card {
    width: 44.17vw;
    height: 31.67vw;
  }
}

@media (max-width: 786px) {
  .structure__cards {
    gap: 12rem;
    left: 6.3%;
  }
  .structure__card {
    width: 85vw;
    height: 50.53vw;
  }

  h3.structure__card-title {
    font-size: 2.2rem;
  }
  p.structure__card-p {
    font-size: 2.2rem;
  }
  .structure__card-content {
    margin: 0 auto;
  }
}
@media (max-width: 465px) {
  .structure__card {
    height: 75.53vw;
  }
}
@media (max-width: 375px) {
  .structure__card {
    height: 90vw;
  }
  img.structure__card-img {
    height: 10rem;
  }
}
