:root {
  /* BODY STYLES */
  --font-family: "Roboto", sans-serif;
  --background-color: #f0f0f0;
  --body-bg: #f0f0f0;
  --body-text-color: #666666;
  --main-yellow-color: #fbb802;
  --main-yellow-color-hover: #ffd971;
  --primary-color: #fbb802;
  --secundary-color: #01448a;

  /* HEADER STYLES */
  --info-background-color: #002a57;
  --info-background-circle: rgba(217, 217, 217, 0.2);
  --navbar-background-color: #01448a;
  --navbar-text-color: #f0f0f0;
  --navbar-text-color-hover: #fbb802;
  --navbar-theme-label: #d9d9d9;
  --navbar-icon-slider: #ffffff;
  --navbar-icon-color-sun: #fbb802;
  --navbar-icon-color-moon: #555555;
  --navbar-text-color-button: #212121;
  --navbar-text-color-border: #fbb802;

  /* MOBILE STYLES */
  --navbar-mobile-bg: #01448a;

  /* FOOTER STYLES */
  --footer-border: #fbb802;
  --footer-bg: #164194;
  --footer-title: #f8f8f8;
  --footer-news-bg: #f8f8f8;
  --footer-news-information: #303030;
  --footer-news-bottom: #666666;
  --footer-text-geral: #ffffff;
  --footer-link-hover: #fbb802;

  /* HOME STYLES */

  --home-overlay: ;
  --home-hero-img-bg: #01438a36;
  --home-hero-bg: linear-gradient(180deg, #01448a 0%, #001224 100%);
  --home-hero-button-hover: #01448a;
  --home-metrics-bg: #fbb802;
  --home-metrics-line: #01448a;
  --home-metrics-color: #01448a;
  --home-request-title: #01448a;
  --home-request-bg: #fff;
  --home-request-button-hover: #fff;
  --home-news-title: #01448a;
  --home-news-button-hover: #fff;
  --home-news-button-bg-hover: #01448a;
  --home-news-button: rgba(1, 68, 138, 0.97);
  --home-news-button-border: #01448a;
  --home-news-item-bg: #fff;
  --home-news-item-text: #666;
  --home-news-item-text2: #4a5254;
  --home-services-title-color: #01448a;
  --home-services-bg: rgb(239, 251, 251);
  --home-services-img-bg: #011d3b8a;
  --home-schedule-hours-bg: rgba(1, 68, 138, 0.94);
  --home-schedule-container-bg: #f8f8f8;
  --home-schedule-decoration-bg: #01448a;
  --home-schedule-container-text: #666;

  /* INSTITUTIONAL STYLES */
  --text-white: #fff;
  --institutional-structure-bg: #fff;
  --institutional-text-color: #000;
  --institutional-news-p: rgba(0, 0, 0, 0.76);
  --institutional-activity-bg: #fff;
  --institutional-sidebar-bg: #f9f9f9;
  --institutional-sidebar-laws-item: #fff;
  --institutional-sidebar-laws-svg: #000;
  --institutional-structure-card-bg: #fff;
  --institutional-structure-icon-bg: #fff;
  --institutional-structure-icon: #000;

  /* SERVICES STYLES */
  --services-sidebar-bg: #01448a;
  --services-step-active-bg: rgba(255, 255, 255, 0.18);
  --sevices-content-bg: #f8f9fa;
  --services--content-text: #666666;
  --services--content-btn: rgb(182, 185, 4);
  --services-content-btn-bg: #01448a;

  /* CONTACT STYLES */
  --contact-form-bg: #f8f9fa;
  --contact-form-title-color: #002a57;
  --contact-form-input-bg: #fff;
  --contact-form-input-color: rgba(0, 0, 0, 0.64);
  --contact-svg-color: rgba(0, 0, 0, 0.84);

  /* NEWS STYLES */
  --news-pagination-bt: transparent;
  --news-pagination-bt-active: #01448a;
  --news-pagitation-text: #000000;
  --faq-title: #000000;

  /* FONT SIZE */
  --dez-px: 1rem;
  --dezesseis-px: 1.6rem;
  --dezoito-px: 1.8rem;
  --vinte-px: 2rem;
  --vinte_e_dois-px: 2.2rem;
  --trinta-px: 3rem;
}
body.font-medium {
  --dez-px: 1.2rem;
  --dezesseis-px: 1.8rem;
  --dezoito-px: 2rem;
  --vinte-px: 2.2rem;
  --vinte_e_dois-px: 2.4rem;
  --trinta-px: 3.2rem;
}

body.font-large {
  --dez-px: 1.4rem;
  --dezesseis-px: 2rem;
  --dezoito-px: 2.2rem;
  --vinte-px: 2.4rem;
  --vinte_e_dois-px: 2.6rem;
  --trinta-px: 3.4rem;

}

/* Modo Escuro */
body.dark-mode {
  /* HEADER STYLES */
  --info-background-color: #002a57;
  --navbar-background-color: #00152a;

  /* FOOTER SYLES */
  --footer-bg: #001b37;
  --footer-news-bg: #363636;
  --footer-news-information: #f8f8f8;
  --footer-news-bottom: #f8f8f8;

  /* MOBILE STYLES */
  --navbar-mobile-bg: #00152a;

  /* HOME STYLES */
  --home-hero-img-bg: #01193282;
  --home-hero-bg: linear-gradient(180deg, #000 0%, #002a53 100%);
  --home-metrics-bg: #002a53;
  --home-metrics-line: #fbb802;
  --home-metrics-color: #fbb802;
  --home-request-title: #fbb802;
  --home-request-bg: #343434;
  --home-request-button-hover: #fff;
  --home-news-title: #046ad4;
  --home-news-button-bg-hover: #fbb802;
  --home-news-button-hover: #001b37;
  --home-news-button: #fbb802;
  --home-news-button-border: #fbb802;
  --home-news-item-bg: linear-gradient(
    111deg,
    #343434 1.8%,
    #303030 99.99%,
    #969696 100%
  );
  --home-news-item-text: #fff;
  --home-news-item-text2: #fff;
  --home-services-title-color: #fbb802;
  --home-services-bg: linear-gradient(
    120deg,
    #363636 85.34%,
    #969696 91.31%,
    #303030 96.29%
  );
  --home-services-img-bg: #011d3b8a;
  --home-schedule-hours-bg: #001b37;
  --home-schedule-container-bg: #001b37;
  --home-schedule-container-text: #f8f8f8;
  --home-schedule-decoration-bg: #002a53;

  /* INSTITUTIONAL STYLES */
  --secundary-color: #002a53;
  --institutional-structure-bg: linear-gradient(
    180deg,
    #000 47.5%,
    #002a53 100%
  );
  --body-bg: #0a0a0a;
  --institutional-text-color: #fff;
  --institutional-news-p: rgba(255, 255, 255, 0.76);
  --institutional-activity-bg: #303030;
  --institutional-structure-card-bg: #303030;
  --institutional-sidebar-bg: #303030;
  --institutional-sidebar-laws-item: #3e3d3d;
  --institutional-sidebar-laws-svg: #fff;
  --institutional-structure-icon-bg: #303030;
  --institutional-structure-icon: #fff;

  /* SERVICES STYLES */
  --services-sidebar-bg: #001224;
  --services-step-active-bg: rgba(255, 255, 255, 0.099);
  --sevices-content-bg: #303030;
  --services--content-text: #fff;
  --services--content-btn: #000;
  --services-content-btn-bg: #01448a;

  /* CONTACT STYLES */
  --contact-form-bg: #303030;
  --contact-form-title-color: #fff;
  --contact-form-input-bg: #7e7e7e;
  --contact-form-input-color: #ffffffca;
  --contact-svg-color: ##ffffffca;

  /* NEWS STYLES */
  --news-pagination-bt: transparent;
  --news-pagination-bt-active: #01448a;
  --news-pagitation-text: #ffffff;
  --faq-title: #fff;
  --title-news:#fff;
  --subtitle-news:#f0f0f0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* BARRA DE INFORMAÇÕES ACIMA DA NAVBAR */

.info-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem;
  gap: 3.2rem;

  background-color: var(--info-background-color);
}

.info-bar__item-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: var(--info-background-circle);
}

.info-bar__item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1.6rem;
  color: var(--navbar-text-color);
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  padding: 1.6rem;
  align-items: center;
  gap: 5rem;
  border-bottom: 3px solid var(--navbar-text-color-border);
}

.navbar__list {
  display: flex;
  gap: 2.5rem;
}

.navbar__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--navbar-text-color);
  font-weight: bold;
  transition: color 0.2s ease;
}

.navbar__link:hover {
  color: var(--navbar-text-color-hover);
}

/* MODO CLARO/ESCURO */

.navbar__theme-toggle {
  display: flex;
  align-items: center;
}

.navbar__theme-toggle-checkbox {
  display: none;
}

.icon {
  position: absolute;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-sun {
  color: var(--navbar-icon-color-sun);
  opacity: 1;
}

.icon-moon {
  color: var(--navbar-icon-color-moon);
}

.navbar__theme-toggle-label {
  width: 5rem;
  height: 1rem;
  background-color: var(--navbar-theme-label);
  border-radius: 5rem;
  position: relative;
  display: block;
  cursor: pointer;
}

.navbar__theme-toggle-slider {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--navbar-icon-slider);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.navbar__theme-toggle-checkbox:checked
  + .navbar__theme-toggle-label
  .navbar__theme-toggle-slider {
  left: calc(100% - 2rem);
}

.navbar__theme-toggle-checkbox:checked + .navbar__theme-toggle-label .icon-sun {
  opacity: 0;
}

.navbar__theme-toggle-checkbox:checked
  + .navbar__theme-toggle-label
  .icon-moon {
  opacity: 1;
}

/* BOTÃO AUMENTAR TAMANHO DA FONTE */
.navbar__accessibility-font-size-btn {
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: var(--navbar-text-color);
  cursor: pointer;
}

.navbar__request-service {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--main-yellow-color);
  color: var(--navbar-text-color-button);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar__request-service:hover {
  background-color: var(--main-yellow-color-hover);
}
.navbar__logo {
  height: 8rem;
}

/* Botão MENU DE NAVEGAÇÃO MOBILE */
.navbar__mobile-buttom {
  display: none;
}

.navbar__mobile-line {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 5px;
}
/* BOTÃO DE FECHAR O MENU MOBILE */
#menu-toggle-close {
  margin-left: 70vw;
}
.navbar__mobile-line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.navbar__mobile-line2 {
  transform: rotate(45deg) translate(1px, 1px);
}

/* Menu de navegação mobile*/
.navbar__mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 80vw;
  height: 100vh;
  background-color: var(--navbar-mobile-bg);
  padding-top: 4rem;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  pointer-events: none;
}

.navbar__mobile.ativo {
  transform: translateX(0);
  pointer-events: auto;
}

.navbar__mobile-buttom {
  cursor: pointer;
}

.navbar__mobile ul {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
}

.navbar__mobile ul li {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.351);
  padding-left: 10vw;
}

.mobile-navbar__bottom {
  display: flex;
  flex-direction: row;
  margin: 0px 8.5vw;
  justify-content: space-between;
}

.mobile-navbar__logo {
  width: 15rem;
  margin-top: 5vh;
}

.mobile-navbar__theme-toggle {
  margin-top: 4vh;
}

@media (max-width: 1100px) {
  .info-bar__item--hidden {
    display: none;
  }
  .navbar__theme-toggle--hidden-sm {
    display: none;
  }
  .navbar__accessibility-font-size-btn--hidden-sm {
    display: none;
  }
  .navbar__request-service--hidden-sm {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-between;
    padding-inline: 10rem;
  }
  .navbar__list {
    display: none;
  }

  .info-bar {
    display: none;
  }
  .navbar__mobile-buttom {
    display: block;
  }
  .navbar__theme-toggle-label {
    width: 7.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 682px) {
  .navbar {
    padding-inline: 5rem;
  }
  .mobile-navbar__bottom {
    margin: 0px 7.5vw;
  }
}
@media (max-width: 436px) {
  .navbar {
    padding-inline: 2rem;
  }
  .mobile-navbar__bottom {
    margin: 0px 6.5vw;
  }
  .mobile-navbar__logo {
    width: 12rem;
  }
}
/* Footer */

.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text-geral);
  min-height: 474px;
  line-height: 1.2;
  display: flex;
  padding: 10rem 2rem 5rem 2rem;
  justify-content: center;
  border-top: 3px solid var(--footer-border);
}
.footer__container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 400px;
}

.footer__elements {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer__element {
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 394px;
}
.footer__new-title {
  font-size: 1.6rem;
}
.footer__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.footer__img {
  height: 8rem;
  width: 16rem;
}

.footer__title {
  color: var(--footer-title);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer_decoration {
  width: 107px;
  height: 2px;
  background: linear-gradient(
    90deg,
    #fbb802 0%,
    #fac840 36.92%,
    #f8f8f8 60.96%,
    #164194 90.77%
  );
}
.footer__contact {
  font-size: 1.6rem;
}

a.footer__link-site,
a.footer__link-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--footer-text-geral);
  font-size: 1.6rem;
  transform-origin: left center;
}
a.footer__link-site {
  transition: all 0.3s ease;
}
a.footer__link-site:hover {
  color: var(--footer-link-hover);
  transform: scale(1.1);
}

.footer__span {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.footer__span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  height: 2px;
  background: white;
  transition: opacity 0.3s ease;
}

.footer__span:hover::after {
  opacity: 1;
}
.footer__span:hover {
  transform: scale(1.05);
}

.footer__news {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer__new {
  display: flex;
  transition: transform 0.3s ease;
}
.footer__new:hover {
  transform: scale(1.04);
}
.footer__new-img {
  width: 182px;
  min-height: 124px;
  border-radius: 10px 0px 0px 10px;
}

.footer__new-informations {
  color: var(--footer-news-information);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 450px;
  min-height: 124px;
  background: var(--footer-news-bg);
  border-radius: 0px 10px 10px 0px;
  padding: 0.5rem;
  justify-content: center;
}

.footer__new-informations p {
  font-size: 12px;
}

.footer__new-bottom {
  display: flex;
  gap: 3rem;
}

.footer__new-link,
p.footer__new-date {
  color: var(--footer-news-bottom);
  text-decoration: none;
  font-size: 1.6rem;
}
.footer__new-link {
  transition: color, transform 0.3s ease;
}
.footer__new-link:hover {
  color: var(--footer-link-hover);
  transform: scale(1.05);
}
@media (max-width: 450px) {
  .footer__new-img {
    max-width: 142px;
  }
  .footer__span {
    display: none;
  }
  .footer__social-sgv {
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
  }
  .footer__element--align {
    justify-content: center;
  }
}
